.ToDoList {
    background-color: beige;
    min-height: 100vh;
    height: fit-content;
}

.Body {
    width: 100%;
    align-items:center;
    justify-content: center;
    padding-top: 10px;
}

.Todo {
    border: 2px solid red;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    max-width: 15vh;
    word-wrap: break-word;
    margin: auto auto;
}

.Strike {
    border: 2px solid green;
    width: 20px;
    border-radius: 50%;
    height: 20px;
    max-width: 15vh;
    word-wrap: break-word;
    margin: auto auto;
}

.Note {
    width: 20vh;
}

.ClearCompleted {
    display: block;
    margin:0 auto;
}

.ClearAll {
    display: block;
    margin:0 auto;
}

.CompleteAll {
    display: block;
    margin:0 auto;
}

.ToggleAll {
    display: block;
    margin:0 auto;
}

.TodoDescription {
    width: 90%;
    display: grid;
    padding-top: 5px;
    padding-bottom: 5px;
}

.ToDoNote {
    margin: auto;
    margin-top: 10px;
    margin-bottom: 5px;
    border: 1px solid black;
    border-radius: 5px 5px 5px 5px;
    height: 60px;
    width: 80vh;
    position: relative;
    display:flex;
    justify-content: left;

}

.TodoTitle {
    font-weight:800;
    padding-bottom:1px;
    font-size: 20px;
}

.TodoDesc {
    font-size: 15px;
    padding-top:1px;
}

.addToDo {
    position:relative;
    width:120px;
    font-size: 20px;
    height: 40px;
    background-color: darkgray;
    color: white;
    border-radius: 5px 5px 5px 5px;
    border-style:none;
}

.Dropdown {
    position:relative;
    display: inline-block;
    margin-left: auto;
    margin-right: 0;
}

.dropdown-content {
    display:none;
    position:absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.addToDo:hover {
    background-color:gray
}

.addToDo:hover + .dropdown-content {display:block;}

.dropdown-content:hover {
    display:block;
}

.TodoHeader {
    display:flex;
    position:relative;
    width: 80vh;
    margin: 0 auto;
    align-items: center;
}