.ToDoList {
    background-color: beige;
    min-height: 100vh;
    height: fit-content;
}

.Body {
    width: 100%;
    align-items:center;
    justify-content: center;
}

.Todo {
    border: 2px solid red;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    max-width: 15vh;
    word-wrap: break-word;
    margin: auto auto;
}

.Strike {
    border: 2px solid green;
    width: 20px;
    border-radius: 50%;
    height: 20px;
    max-width: 15vh;
    word-wrap: break-word;
    margin: auto auto;
}

.Note {
    width: 20vh;
}

.AddToDo {
    width: fit-content;
    margin:0 auto;
}

.ClearCompleted {
    display: block;
    margin:0 auto;
}

.ClearAll {
    display: block;
    margin:0 auto;
}

.CompleteAll {
    display: block;
    margin:0 auto;
}

.ToggleAll {
    display: block;
    margin:0 auto;
}

.TodoDescription {
    width: 90%;
    display: grid;
}

.ToDoNote {
    margin: auto;
    margin-top: 10px;
    margin-bottom: 5px;
    border: 1px solid black;
    border-radius: 5px 5px 5px 5px;
    height: 60px;
    width: 80vh;
    position: relative;
    display:flex;
    justify-content: left;

}

.TodoTitle {
    font-weight:800;
    font-size: 20px;
}

.TodoDesc {
    font-size: 15px;
}