.MainPage {
  background-image: url("./background.JPG");
  background-position-x: 60%;
  background-position-y: 55%;
  text-align: center;
  height: 100vh;
  background-size: 110%;
  background-repeat: no-repeat;
}

.Bio {
  width: 30%;
  height: 80vh;
  position: absolute;
  right: 10%;
  top: 10%;
  border: 2px solid;
  background-color: beige;
  border-radius: 8%;
  font-size: 1.2vw;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.imageLink {
  object-fit: cover;
}
