.ApiFetch {
    background-color:beige;
    min-height: 100vh;
    text-align: center;
}

.Loaded {
    text-align: center;
}

.Loading {
    margin:0 auto;
    text-align:center;
    border: 2px solid black; /* Light grey */
    border-top: 2px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 30px;
    height: 30px;
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.StatusFalse {
    text-align: center;
    color:red
}

.StatusTrue {
    text-align: center;
    color: green
}

.validInput {
    border-color:green;
}

.invalidInput {
    border-color:gold;
}